* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.main-layout {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

#post-list {
  background: white;
  padding: 10px;
  border-radius: 6px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#post-list div {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

#post-list div:hover {
  background: #f0f0f0;
}

form {
  background: white;
  padding: 15px;
  border-radius: 6px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

form h2,
form h4 {
  margin-bottom: 10px;
}

form input,
form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

form button {
  padding: 8px 15px;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 4px;
  cursor: pointer;
   border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


#cancel-edit {
  background-color: #aaa;
   border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



#post-detail {
  background: white;
  margin-top: 30px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}



#edit-btn {
  background-color: #2980b9;/* teal */
}



#delete-btn {
  border: none;
  background-color: #ef0303; /* orange */
}


